/* src/styles/sidebar.css */

.sidebar {
    width: 240px;
    background-color: #004c97;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
  
  .logo {
    width: 140px;
    margin-bottom: 2rem;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-item {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding-left: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    position: relative;
  }
  
  .menu-item:hover {
    background-color: #0060bf;
  }
  
  .arrow {
    float: right;
    margin-right: 1rem;
    transition: transform 0.3s ease;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  
  .submenu {
    background-color: #005eb8;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow-y: auto;
    max-height: 500px; /* você pode ajustar esse valor ou usar none */
  }
  
  
  .submenu.visible {
    max-height: 200px;
    opacity: 1;
    padding-left: 2.5rem;
  }
  
  .submenu.hidden {
    max-height: 0;
    opacity: 0;
    padding-left: 2.5rem;
  }
  
  .submenu-item {
    padding: 0.75rem;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.2s;
  }
  
  .submenu-item:hover {
    background-color: #0075cc;
  }
  